In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('transactions.csv')
df

,t_date,cust_id,t_amt,services,products_used,city,state,t_details
0,06-26-2015,4007024,40.33,Exercise & Fitness,Cardio Machine Accessories,Clarksville,Tennessee,credit
1,05-26-2015,4006742,198.44,Exercise & Fitness,Weightlifting Gloves,Long Beach,California,credit
2,06-01-2015,4009775,5.58,Exercise & Fitness,Weightlifting Machine Accessories,Anaheim,California,credit
3,06-05-2015,4002199,198.19,Gymnastics,Gymnastics Rings,Milwaukee,Wisconsin,credit
4,12-17-2015,4002613,98.81,Team Sports,Field Hockey,Nashville,Tennessee,credit
...,...,...,...,...,...,...,...,...
49995,09-18-2015,4005664,53.95,Games,Dice Games,Irving,Texas,credit
49996,10-02-2015,4007287,163.81,Games,Poker Chips & Sets,Kansas City,Missouri,credit
49997,05-03-2015,4003954,35.85,Racquet Sports,Squash,New Orleans,Louisiana,cash
49998,10-23-2015,4007843,180.41,Gymnastics,Vaulting Horses,Berkeley,California,credit
49999,12-14-2015,4001406,168.49,Team Sports,Team Handball,Rockford,Illinois,credit

In [7]:
# Calculate total sales across all transactions
tot_sales = df['t_amt'].sum()
print(tot_sales)

5110820.54

In [12]:
#which month had the highest total transaction amount?
df['t_date'] = pd.to_datetime(df['t_date'])
df['month'] = df['t_date'].dt.month
month_sales = df.groupby('month')['t_amt'].sum()
highest_month = month_sales.idxmax()
print(highest_month)

3

In [13]:
#What is the average transaction amount per customer?
customer_avg = df.groupby('cust_id')['t_amt'].mean()
print(customer_avg)

cust_id
4000000    127.444000
4000001    108.945556
4000002     56.165000
4000003    123.670000
4000004    168.135000
              ...
4009995     65.018571
4009996    104.515000
4009997    121.547500
4009998    110.950000
4009999     85.252500
Name: t_amt, Length: 9926, dtype: float64

In [14]:
#What is the trend of total sales over months?
monthly_sales = df.groupby('month')['t_amt'].sum()
print(monthly_sales)

month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [15]:
#What is the highest single transaction amount recorded?
highest_amount = df['t_amt'].max()
print(highest_amount)

200.0

In [19]:
#Which service category contributes the most to total revenue?
service_revenue = df.groupby('services')['t_amt'].sum()
top_service = service_revenue.idxmax()
print(top_service)

Outdoor Recreation

In [21]:
#Which product generated the highest revenue?
product_revenue = df.groupby('products_used')['t_amt'].sum()
top_product = product_revenue.idxmax()
print(top_product)

Yoga & Pilates

In [22]:
#How does the average transaction amount vary between services?
avg_transaction = df.groupby('services')['t_amt'].mean()
print(avg_transaction)

services
Air Sports                103.455104
Combat Sports             101.061761
Dancing                   102.907512
Exercise & Fitness        103.660247
Games                     102.272968
Gymnastics                102.385901
Indoor Games              103.074684
Jumping                   102.155171
Outdoor Play Equipment    101.281196
Outdoor Recreation        100.999480
Puzzles                   100.595997
Racquet Sports            103.647461
Team Sports               102.738998
Water Sports              101.899975
Winter Sports             101.217718
Name: t_amt, dtype: float64

In [24]:
#How many unique customers made purchases?
unique_customers = df['cust_id'].nunique()
print(unique_customers)

9926

In [29]:
#Which customers have spent the most overall?
cust_spending = df.groupby('cust_id')['t_amt'].sum()
top_customers = cust_spending.nlargest(3)
print(top_customers)

cust_id
4009485    1973.30
4006425    1732.09
4000221    1671.47
Name: t_amt, dtype: float64

In [30]:
#What is the average number of transactions per customer?
transactions_per_cust = df.groupby('cust_id').size()
avg_transactions = transactions_per_cust.mean()
print(avg_transactions)

5.037275841225066

In [33]:
#Are there customers who made multiple purchases in different categories?
cust_categories = df.groupby(['cust_id', 'services']).size().reset_index(name='count')
multiple_category = cust_categories.groupby('cust_id').filter(lambda x: x['count'].sum() > 1)
print(multiple_category)

       cust_id                services  count
0      4000000                   Games      1
1      4000000            Indoor Games      1
2      4000000      Outdoor Recreation      2
3      4000000           Winter Sports      1
4      4000001      Exercise & Fitness      1
...        ...                     ...    ...
39785  4009999  Outdoor Play Equipment      1
39786  4009999      Outdoor Recreation      2
39787  4009999          Racquet Sports      1
39788  4009999             Team Sports      1
39789  4009999            Water Sports      3

[39449 rows x 3 columns]

In [35]:
#What percentage of customers are repeat buyers?
total_customers = df['cust_id'].nunique()
repeat_buyers = df.groupby('cust_id').size()
repeat_buyers_count = repeat_buyers[repeat_buyers > 1].count()
percentage_repeat_buyers = (repeat_buyers_count / total_customers * 100)
print(percentage_repeat_buyers)

96.5645778762845

In [37]:
#Which product category has the highest total sales?
category_sales = df.groupby('services')['t_amt'].sum()
highest_sales_category = category_sales.idxmax()
print(highest_sales_category)

Outdoor Recreation

In [38]:
#Which services are most popular by transaction count?
popular_services = df['services'].value_counts()
print(popular_services)

services
Outdoor Recreation        8383
Exercise & Fitness        7394
Team Sports               6010
Water Sports              5219
Games                     3666
Gymnastics                3196
Winter Sports             3181
Outdoor Play Equipment    2910
Indoor Games              2799
Jumping                   2015
Combat Sports             1630
Racquet Sports            1611
Air Sports                 960
Puzzles                    612
Dancing                    414
Name: count, dtype: int64

In [40]:
#For each service, which product type is purchased most frequently?
service_product = df.groupby(['services', 'products_used']).size().reset_index(name='count')
most_frequent_product = service_product.loc[service_product.groupby('services')['count'].idxmax()]
print(most_frequent_product)

                   services               products_used  count
2                Air Sports                  Parachutes    400
3             Combat Sports                      Boxing    431
7                   Dancing                 Ballet Bars    414
9        Exercise & Fitness  Cardio Machine Accessories    445
32                    Games                     Mahjong    437
35               Gymnastics               Balance Beams    425
47             Indoor Games                    Foosball    422
54                  Jumping                 Trampolines    421
60   Outdoor Play Equipment                  Swing Sets    464
73       Outdoor Recreation                  Lawn Games    466
83                  Puzzles              Jigsaw Puzzles    397
85           Racquet Sports                   Badminton    413
97              Team Sports                      Hockey    434
105            Water Sports                Bodyboarding    425
118           Winter Sports        Cross-Country Skiing    429

In [41]:
#What is the average transaction amount per product type?
product_avg = df.groupby('products_used')['t_amt'].mean()
print(product_avg)

products_used
Abdominal Equipment    105.362798
Air Hockey             103.775478
Air Suits              101.421832
Archery                 97.345564
Badminton              108.441138
                          ...
Wetsuits               102.042775
Whitewater Rafting     102.877744
Windsurfing            104.161453
Wrestling               97.895364
Yoga & Pilates         107.668784
Name: t_amt, Length: 125, dtype: float64

In [42]:
#Are there specific services where customers spend significantly more?
service_avg = df.groupby('services')['t_amt'].mean()
overall_avg = df['t_amt'].mean()
significant_services = service_avg[service_avg > overall_avg]
print(significant_services)

services
Air Sports            103.455104
Dancing               102.907512
Exercise & Fitness    103.660247
Games                 102.272968
Gymnastics            102.385901
Indoor Games          103.074684
Racquet Sports        103.647461
Team Sports           102.738998
Name: t_amt, dtype: float64

In [43]:
#Which state has the highest total sales?
state_sales = df.groupby('state')['t_amt'].sum()
top_state = state_sales.idxmax()
print(top_state)

California

In [44]:
#Which city records the highest number of transactions?
city_transactions = df['city'].value_counts()
top_city = city_transactions.idxmax()
print(top_city)

Pasadena

In [45]:
#What is the average spending per transaction in each state?
state_avg = df.groupby('state')['t_amt'].mean()
print(state_avg)

state
Alabama                 102.487049
Arizona                 102.172241
California              102.652182
Colorado                101.537415
Connecticut              99.982108
District of Columbia    103.800334
Florida                 103.136567
Georgia                 102.330675
Hawaii                  101.536667
Idaho                    98.969538
Illinois                100.166315
Indiana                 100.712664
Iowa                    103.100727
Kansas                  101.436926
Kentucky                104.130392
Louisiana               103.466335
Maryland                100.506913
Massachusetts           104.541571
Michigan                101.547777
Minnesota               103.465157
Mississippi             101.214926
Missouri                100.969040
Nebraska                101.955690
Nevada                  105.434718
New Jersey              103.438005
New York                100.259452
North Carolina          103.033172
Ohio                    101.350817
Oklahoma                104.995771
Oregon                  102.438143
Pennsylvania            102.776034
South Carolina          103.540065
Tennessee                99.265804
Texas                   101.379891
Utah                    104.507560
Virginia                104.976206
Washington              101.401603
Wisconsin               101.953159
Name: t_amt, dtype: float64

In [46]:
#Are certain services more popular in specific states?
service_state = df.groupby(['services', 'state']).size().unstack(fill_value=0)
print(service_state)

state                   Alabama  Arizona  California  Colorado  Connecticut  \
services
Air Sports                   21       24         122        35           19
Combat Sports                44       43         197        62           27
Dancing                       8       13          55        13            7
Exercise & Fitness          160      175         988       268          121
Games                        80       89         512       135           71
Gymnastics                   74       86         422       118           75
Indoor Games                 64       76         376       108           65
Jumping                      52       51         319        74           25
Outdoor Play Equipment       64       66         427        92           51
Outdoor Recreation          191      247        1188       279          140
Puzzles                      12       13          83        15           10
Racquet Sports               38       30         205        61           37
Team Sports                 131      153         816       211          104
Water Sports                124      121         720       177          102
Winter Sports                69       98         412       108           57

state                   District of Columbia  Florida  Georgia  Hawaii  Idaho  \
services
Air Sports                                10       52       14       2      9
Combat Sports                             13       93       25      16     11
Dancing                                    6       24        4       2      6
Exercise & Fitness                        78      381      125      57     69
Games                                     31      185       58      33     39
Gymnastics                                39      153       43      28     26
Indoor Games                              25      154       53      23     19
Jumping                                   18       93       38      23     15
Outdoor Play Equipment                    35      172       49      28     26
Outdoor Recreation                        64      483      153      72     81
Puzzles                                    7       35        9       8      3
Racquet Sports                            15       71       34      10     13
Team Sports                               63      342      107      59     51
Water Sports                              55      277      106      41     60
Winter Sports                             20      150       56      21     27

state                   ...  Oklahoma  Oregon  Pennsylvania  South Carolina  \
services                ...
Air Sports              ...         3      41            14              17
Combat Sports           ...        23      71            22              31
Dancing                 ...         5      11             7              14
Exercise & Fitness      ...        62     268           147             115
Games                   ...        39     132            59              59
Gymnastics              ...        24     115            53              54
Indoor Games            ...        35      97            37              48
Jumping                 ...        16      77            34              33
Outdoor Play Equipment  ...        29     114            54              57
Outdoor Recreation      ...        70     335           154             162
Puzzles                 ...         7      25            10              10
Racquet Sports          ...        14      65            24              37
Team Sports             ...        65     201           101             123
Water Sports            ...        40     172            94              98
Winter Sports           ...        22     102            70              59

state                   Tennessee  Texas  Utah  Virginia  Washington  \
services
Air Sports                     30     97    19        27          37
Combat Sports                  49    184    40        50          52
Dancing                        12     51    10        13          16
Exercise & Fitness            288    818   137       208         287
Games                         134    418    62        87         140
Gymnastics                    114    370    52        71         128
Indoor Games                   78    312    55        93          92
Jumping                        57    221    32        49          64
Outdoor Play Equipment        104    307    51        91          86
Outdoor Recreation            313    830   136       186         276
Puzzles                        28     64     6        23          22
Racquet Sports                 51    164    30        56          50
Team Sports                   207    621   116       180         223
Water Sports                  199    537    82       170         189
Winter Sports                 126    345    53        72         128

state                   Wisconsin
services
Air Sports                     20
Combat Sports                  46
Dancing                         4
Exercise & Fitness            172
Games                          73
Gymnastics                     82
Indoor Games                   65
Jumping                        40
Outdoor Play Equipment         76
Outdoor Recreation            180
Puzzles                        15
Racquet Sports                 34
Team Sports                   152
Water Sports                  126
Winter Sports                  64

[15 rows x 38 columns]

In [49]:
#Which states buy the most Outdoor Recreation products?
outdoor_sales = df[df['services'] == 'Outdoor Recreation'].groupby('state')['t_amt'].sum()
top_outdoor_state = outdoor_sales.idxmax()
print(top_outdoor_state)

California

In [51]:
#Compare average spending between California and Texas customers.
ca_avg = df[df['state'] == 'California']['t_amt'].mean()
tx_avg = df[df['state'] == 'Texas']['t_amt'].mean()
print(f"Average spending in California: ${ca_avg:.2f}")
print(f"Average spending in Texas: ${tx_avg:.2f}")

Average spending in California: $102.65
Average spending in Texas: $101.38

In [52]:
#Which quarter of the year saw the highest sales?
df['quarter'] = df['t_date'].dt.quarter
quarter_sales = df.groupby('quarter')['t_amt'].sum()
print(quarter_sales)

quarter
1    1278092.37
2    1274397.37
3    1303137.44
4    1255193.36
Name: t_amt, dtype: float64

In [53]:
#How does total sales vary month by month?
monthly_sales = df.groupby('month')['t_amt'].sum()
print(monthly_sales)

month
1     438165.76
2     395262.37
3     444664.24
4     420695.24
5     432627.58
6     421074.55
7     439560.80
8     434255.01
9     429321.63
10    424856.28
11    408846.35
12    421490.73
Name: t_amt, dtype: float64

In [54]:
#What is the total number of transactions per month?
transactions_per_month = df.groupby('month').size()
print(transactions_per_month)

month
1     4268
2     3834
3     4360
4     4175
5     4205
6     4171
7     4252
8     4250
9     4160
10    4181
11    3994
12    4150
dtype: int64

In [64]:
#How many transactions were done using credit?
credit_transactions = df[df['t_details'] == 'credit'].shape[0]
print(f"transactions done using credit: {credit_transactions}")

transactions done using credit: 43151

In [65]:
#What is the total revenue generated from credit transactions?
credit_revenue = df[df['t_details'] == 'credit']['t_amt'].sum()
print(f"Total revenue from credit transactions: ${credit_revenue:.2f}")

Total revenue from credit transactions: $4923134.93

In [69]:
#Is there a difference in average spending between credit and debit customers?
avg_credit_spending = df[df['t_details'] == 'credit']['t_amt'].mean()
avg_debit_spending = df[df['t_details'] == 'debit']['t_amt'].mean()
difference = avg_credit_spending - avg_debit_spending
print(f"Difference: ${difference:.2f}")

Difference: $nan

In [73]:
#Which states or cities should the company focus on for marketing high-value products?
state_revenue = df.groupby('state')['t_amt'].sum()
city_revenue = df.groupby('city')['t_amt'].sum()    
print(state_revenue.head())
print(city_revenue.head())

state
Alabama        116015.34
Arizona        131291.33
California     702346.23
Colorado       178299.70
Connecticut     91083.70
Name: t_amt, dtype: float64
city
Alexandria      49082.91
Anaheim         45263.19
Atlanta         43645.64
Austin          42415.33
Baltimore       44926.59
Name: t_amt, dtype: float64

In [75]:
#Should more inventory be stocked for Exercise & Fitness products given their popularity?
product_popularity = df.groupby('products_used')['t_amt'].sum()
print(product_popularity.sort_values(ascending=False))

products_used
Yoga & Pilates                47804.94
Swing Sets                    47204.14
Lawn Games                    46828.44
Golf                          46577.68
Cardio Machine Accessories    46485.54
                                ...
Tetherball                    35611.93
Surfing                       35069.08
Disc Golf                     33944.02
Mechanical Puzzles            20381.67
Air Suits                     19371.57
Name: t_amt, Length: 125, dtype: float64

In [76]:
#Are there underperforming service categories that need promotional offers?
service_revenue = df.groupby('services')['t_amt'].sum()
print(service_revenue.sort_values())

services
Dancing                    42603.71
Puzzles                    61564.75
Air Sports                 99316.90
Combat Sports             164730.67
Racquet Sports            166976.06
Jumping                   205842.67
Indoor Games              288506.04
Outdoor Play Equipment    294728.28
Winter Sports             321973.56
Gymnastics                327225.34
Games                     374932.70
Water Sports              531815.97
Team Sports               617461.38
Exercise & Fitness        766463.87
Outdoor Recreation        846678.64
Name: t_amt, dtype: float64